aiohttp
anthropic
celery
fastapi
motor
neo4j
numpy
openai
passlib
protobuf
pydantic
pymongo
python-dotenv
python-jose
pyttsx3
pywhatkit
redis
requests
sentence-transformers
SpeechRecognition
youtube-search-python
yt-dlp
uvicorn
websockets
google-generativeai
